.component-linktext {
	margin-bottom: 1rem;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-color: $color-dark-grey;
	padding: 0.15rem;
}
.component-linktext:hover {
	background-color: $color-primary-2;
	color: $color-primary-1;
	border: none;
}