table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

th, td {
	background: transparent;
	border: 1px solid $color-dark-dark-grey;
	position: relative;
	vertical-align: top;
	max-width: 349px;
	min-height: 32px;
	padding: 7px 9px;
	border-radius: 0.375rem;
}